.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview/**
.husky/**
.gitignore
.yarnrc
.prettierignore
.prettierrc
.eslintrc.json
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/*.tsx
dist/prerender.js
dist/*.prerender.js
dist/*.prerender.js.*
*.vsix
yarn.lock
webpack.config.js
